* {
  margin: 0;
  padding: 0;
  font-family: Fira Code;
  font-size: 18px;
}

body {
  background: #282828;
}

span {
  color: #a89984;
}

a {
  color: #ebdbb2;
}

a:hover {
  color: #689d6a;
}

#box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#pic-half {
  border-radius: 8px;
  width: 400px;
  height: 400px;
}

#box-half {
  color: #009193;

  height: 400px;
  width: 450px;
  border-radius: 8px;
}

.header {
  margin: 20px;
  font-weight: bold;
}

.link {
  text-decoration: none;
}

#h1 {
  color: #458588;
} 

#h2 {
  color: #98971a;
} 

#h3 {
  color: #b16286;
} 

#h4 {
  color: #d79921;
} 
