* {
  margin: 0;
  padding: 0;
  font-family: Fira Code;
  font-size: 16px;
}

body {
  background: #131C23;
}

span {
  color: #F7EFE4;
}

a {
  color: #908B84;
}

a:hover {
  color: #9c3f0c;
}

#box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#pic-half {
  border-radius: 10px;
  width: 440px;
  height: 550px;
}

#box-half {
  color: #009193;
  background: #262626;
  
  height: 375px;
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  margin-top: -4px;
  margin-left: 10px;
}

.header {
  margin: 20px;
  font-weight: bold;
}

