* {
  margin: 0;
  padding: 0;
  font-family: Fira Code;
  font-size: 14px;
}

body {
  background: #272f3e;
}

span {
  color: #6f7789;
}

#box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#pic {
  border-radius: 10px;
  width: 300px;
  height: 320px;
}

#box-half {
  color: #b24c4c;
  background: #1a1717;

  height: 280px;
  padding: 20px;
  border-radius: 10px;
  margin-top: -4px;
  margin-left: 10px;
}

#header {
  margin: 10px;
  font-weight: bold;
}

#link {
  color: #b24c4c;
}

#link:hover {
  color: #9c3f0c;
}
